node_modules/
obj
*.suo
bin/
data/
Resharper
packages/
*.csproj.user
*.DotSettings.user
out/*
bin_Test
.vs
*.pubxml.user
lib
*.log
deploy/*
node_modules/*
.idea
.vscode
deploy/
.git
.sonarqube
.sonarlint
logs/
dist/
.env
.idea
.history