node_modules/
obj
*.suo
bin/
data/
Resharper
packages/
*.csproj.user
*.DotSettings.user
out/*
bin_Test
.vs
*.pubxml.user
lib
*.log
node_modules/*
.idea
.vscode
.git
.sonarqube
.sonarlint
logs/*
dist/
.env
.idea
.history
sites/
.DS_Store
.vercel
