
/* Blue */
a {
	color: #34a0cc;
}
a:visited {
	color: #8cb3c3;
}
a:hover {
	color: #34a0cc;
}
#page {
	background: #FFFFFF url("header_blue.jpg") repeat-x top left;
}
h2 {
	color: #41add9;
}

h2 a:visited{
	color: #41add9;
}

::selection {
	color: #0d62aa; /* Safari */
	background:#ffffff;
	}
::-moz-selection {
	color: #71c2e3; /* Firefox */
	background:#ffffff;
}
#headerimg a, #headerimg a:visited{
	color:#41add9;
}
#nav li a:hover {
    border-bottom:1px solid #71c2e3;
}
#nav li.current_page_item{
	border-bottom:1px solid #71c2e3;
}
.post-day{
	color: #71c2e3;
}
.entry-title, .entry-title a, .entry-title a:visited,
h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited {
	color: #41add9;
	}
#s:focus {
	border-color: #34a0cc;
	}
#sidebar h3{
	color:#34a0cc;
}
.widgettitle{
	color:#34a0cc;
}
.widget li a:hover{
	color:#34A0CC;
}
.ul-cat li a:hover{
	color: #71c2e3;
}
.ul-archives li a:hover{
	color: #71c2e3;
}
#commentform textarea:focus, #commentform input[type="text"]:focus {
	background: #ffffff;
	border:1px solid #71c2e3;
}
#commentform #submit{
	color: #71c2e3;
}
#footer{
	background: #FFFFFF url("header_blue.jpg") repeat-x top left;
}

#credits a, #credits a:visited{
	color:#41add9;
}

#footer-logo a, #footer-logo a:visited{
	color:#41add9;
}img { max-width: 100%; }