{
	"presets": ["@babel/preset-env"],
	"plugins": [
		"@babel/plugin-transform-async-to-generator",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-nullish-coalescing-operator"
	]
}
