
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Added comment-box and contact form styles for TurboSite by Brullworfel (http://brullworfel.ru) 
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: normal small Arial, Helvetica, sans-serif;
	color: #999999;
}

form {
}

fieldset {
	border: none;
}

legend {
	display: none;
}

h1, h2, h3 {
	margin: 0;
	color: #11A6D4;
}

h2 {
	margin-bottom: .5em;
	font-size: 1.8em;
}

h3 {
	margin-bottom: 1em;
	font-size: 1em;
}

p, blockquote, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.8em;
}

p {
}

blockquote {
}

ul {
	margin-left: 2em;
	list-style: square;
}

ul li {
}

ol {
	margin-left: 2em;
}

ol li {
}

a {
	color: #EA672E;
}

a:hover {
	text-decoration: none;
	color: #11A6D4;
}

img {
	border: none;
}

/* Boxed Style */

.boxed {
	margin-bottom: 1em;
	background: #F7F7F7 url(images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

.boxed .title {
	height: 29px;
	padding: 11px 0 0 27px;
	background: url(images/img08.gif) no-repeat 10px 50%;
	font-size: 1.2em;
	color: #FFFFFF;
}

.boxed .content {
	padding: 10px;
}

/* Header */

#header {
	width: 700px;
	height: 130px;
	margin: 0 auto;
	background: url(images/img02.jpg) no-repeat;
}

/* Header > Logo */

#logo {
	float: left;
	padding: 65px 0 0 0;
}

#logo h1 {
	font-size: 2em;
	text-decoration: none;
	color: #FFFFFF;
}

#logo h2 {
	margin: 0;
	font-size: 1.2em;
	text-decoration: none;
	color: #FFFFFF;
}

#logo a {
	
}

/* Header > Top Menu */

#topmenu {
	float: right;
}

#topmenu ul {
	margin: 0;
	padding: 100px 0 0 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	display: inline
}

#topmenu a {
	display: block;
	float: left;
	margin: 0 0 0 20px;
	padding: 0 0 0 15px;
	text-decoration: none;
	font-size: x-small;
	font-weight: bold;
	color: #FFFFFF;
}

#topmenu a:hover {
	text-decoration: underline
}

#topmenu1 {
	background: url(images/img03.gif) no-repeat left center;
}

#topmenu2 {
	background: url(images/img04.gif) no-repeat left center;
}

#topmenu3 {
	background: url(images/img05.gif) no-repeat left center;
}

/* Menu */

#menu {
	width: 700px;
	height: 40px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 26px;
	padding: 14px 18px 0 20px;
	background: url(images/img06.gif) no-repeat;
	text-decoration: none;
	font-weight: bold;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first a {
	padding-left: 0;
	background: none;
}

/* Content */

#content {
	width: 700px;
	margin: 0 auto;
	padding: 20px 0;
}

/* Content > Main */

#main {
	float: left;
	width: 460px;
}

#post {
	margin: 0 0 3em 0;
	padding: 10px 0 1.5em 0;
	border-bottom: 1px solid #CCCCCC;
	width: 460px;
	min-height: 400px;
	color: #000;
}

/* Content > Sidebar */

#sidebar {
	float: right;
	width: 220px;
}

/* Content > Sidebar > Login */

#login {
}

#login label {
	display: block;
}

#login #inputtext1, #login #inputtext2 {
	width: 180px;
	margin-bottom: .5em;
	padding: 2px 5px;
	border: 1px solid #CCCCCC;
	font: normal small Arial, Helvetica, sans-serif;
	color: #999999;
}

#login #inputsubmit1 {
	float: right;
	width: 60px;
	margin-right: 7px;
	border: 1px solid #CCCCCC;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	font: normal small Arial, Helvetica, sans-serif;
}

#login p {
	margin: 0;
	padding-top: .2em;
	font-size: x-small;
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates li {
	margin-bottom: 1em;
}

#updates h3 {
	margin: 0;
	padding: 0 0 0 10px;
	background: url(images/img09.gif) no-repeat left center;
	font-size: x-small;
}

#updates p {
	margin: 0;
	padding: 0 0 0 10px;
	line-height: normal;
	font-size: .85em;
}

#updates a {
	text-decoration: none;
}

/* Content > Sidebar > Partners*/

#partners {
}

/* Footer */

#footer {
	clear: both;
	width: 700px;
	margin: 0 auto 2em auto;
	background: #F7F7F7 url(images/img07.gif) repeat-x;
	border: 1px solid #CCCCCC;
}

/* Footer > Legal */

#legal {
	margin: 0;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
}

/* Footer > Links */

#links {
	margin: 0;
	padding: 10px;
	text-align: center;
}

/* Comments-box */

.comments-box {
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.comments-box .comment {
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}

.comment .avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 7px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.comment .avatar img {
	width: 80px;
	height: 80px;
}

.comment .title {
	margin-bottom: 5px;
}

.comment .title .author {
	font-weight: bold;
	font-size: 150%;
}

.comments-box form input {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
}

.comments-box form textarea {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
}

.comments-box img#captcha {
	margin-top: 5px;
}

.comments-box input#captcha_code {
	width: 90px;
}

.comments-box input#submit {
	width: 100px;
	height: 22px;
}

/* contact-form */

.contact-form {
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact-form form input {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
}

.contact-form form textarea {
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	height: 150px;
}

.contact-form img#captcha2 {
	margin-top: 5px;
}

.contact-form input#captcha_code2 {
	width: 90px;
}

.contact-form input#submit2 {
	width: 100px;
	height: 22px;
}

h2 {
	clear: both;
}
img { max-width: 100%; }