/* Yellow */

a {
	color: #fcff00;
}
a:visited {
	color: #fcff00;
}
a:hover {
	color: #fcff00;
}
#page {
	background: #FFFFFF url("header_yellow.jpg") repeat-x top left;
}
h2 {
	color: #fcff00;
}

h2 a:visited{
	color: #fcff00;
}

::selection {
	color: #fcff00; /* Safari */
	background:#ffffff;
	}
::-moz-selection {
	color: #fcff00; /* Firefox */
	background:#ffffff;
}
#headerimg a, #headerimg a:visited{
	color:fcff00;
}
#nav li a:hover {
       border-bottom:1px solid #fcff00;
}
#nav li.current_page_item{
	border-bottom:1px solid #fcff00;
}
.post-day{
	color: #fcff00;
}
.entry-title, .entry-title a, .entry-title a:visited,
h2, h2 a, h2 a:visited,
h3, h3 a, h3 a:visited,
h4, h4 a, h4 a:visited {
	color: #fcff00;
	}
#s:focus {
	border-color: #fcff00;
	}
#sidebar h3{
	color:#fcff00;
}
.widgettitle{
	color:#fcff00;
}
.widget li a:hover{
	color:#fcff00;
}
.ul-cat li a:hover{
	color: #fcff00;
}
.ul-archives li a:hover{
	color: #fcff00;
}
#commentform textarea:focus, #commentform input[type="text"]:focus {
	background: #ffffff;
	border:1px solid #fcff00;
}
#commentform #submit{
	color: #fcff00;
}
#footer{
	background: #FFFFFF url("header_yellow.jpg") repeat-x top left;
}

#credits a, #credits a:visited{
	color:#fcff00;
}

#footer-logo a, #footer-logo a:visited{
	color:#fcff00;
}img { max-width: 100%; }